<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Previous Translations</title>
        <link rel="stylesheet" href="./public/style.css">
    </head>
    <body>
        <h1>Previous Translations</h1>
        <table>
            <tr>
                <th>Language 1</th>
                <th>Original Text</th>
                <th>Language 2</th>
                <th>Translated Text</th>
            </tr>
            <%- table%>
        </table>
        <hr>
        <a href="/translate">Translator</a>
    </body>
</html>