<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Log In</title>
        <link rel="stylesheet" href="./public/style.css">
    </head>
    <body>
        Your username or password is wrong <a href="/">try again</a>
    </body>

</html>