<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="./public/style.css">
    </head>
    <body>
        Sign up for <%- username%> successful! Head over to the <a href="/translate">translator</a>
    </body>

</html>