<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="./public/style.css">
    </head>
    <body>
        The username <%- username%> was already taken, <a href="/signup">try again</a>

    </body>

</html>