<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Sign Up</title>
        <link rel="stylesheet" href="../styles/general.css">
        <link rel="stylesheet" href="../styles/signupFail.css">
    </head>
    <body>
        The username <%- username%> was already taken!
        
        <br><br>

        <a href="/signup">Try again</a>

    </body>

</html>