<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../styles/general.css">
        <link rel="stylesheet" href="../styles/welcome.css">
        
        <title>Ptranslator</title>
    </head>
    <body>
        
        <h1>Welcome to Translator</h1> 
        <fieldset>
            <form action="http://localhost:<%- portNumber %>/translate" method="post">
                <input type="text" name="username" hidden value="guest">
                <input type="text" name="password" hidden value="password">
                <input type="submit" name="submit" value="Log In As Guest">
            </form>

            <br>

            <form action="http://localhost:<%- portNumber %>/translate" method="post">

                <label for="username">Username: </label>
                <input type="text" name="username" id="user"><br>
                <label for="password">Password: </label>
                <input type="password" name="password" id="pass"><br>
                
                <input type="submit" name="submit" value="Log In">
    
            </form>

            <br>
            <button onclick="location.href='/signup'">Sign Up</button>
        </fieldset>

    </body>
</html>